#           ████  ███                                  
#          ░░███ ░░░                                   
#   ██████  ░███ ████   ██████   █████   ██████  █████ 
#  ░░░░░███ ░███░░███  ░░░░░███ ███░░   ███░░██████░░  
#   ███████ ░███ ░███   ███████░░█████ ░███████░░█████ 
#  ███░░███ ░███ ░███  ███░░███ ░░░░███░███░░░  ░░░░███
# ░░██████████████████░░██████████████ ░░██████ ██████ 
#  ░░░░░░░░░░░░░░░░░░  ░░░░░░░░░░░░░░   ░░░░░░ ░░░░░░  

alias mv='mv -iv'
alias rm='rm -iv'
alias cp='cp -iv'

alias ls='exa -al --color=always --group-directories-first'
alias la='exa -a --color=always --group-directories-first'
alias ll='exa -l --color=always --group-directories-first'
alias lt='exa -aT --color=always --group-directories-first'

alias cat='bat --paging=never --style=grid --theme=base16'

alias rscp='rsync -aP'
alias rsmv='rsync -aP --remove-source-files'

if [ "$TERM" = "xterm-kitty" ]; then
	alias ssh="kitten ssh"
fi

# vim:ft=sh
