[Unit]
Description=Pulseaudio Volume Notifier

[Service]
ExecStart=%h/dotfiles/notifiers/pactl-volume-notifier/pactl-volume-notifier.sh

[Install]
WantedBy=default.target
