[Unit]
Description=X Clipboard Notifier
PartOf=graphical-session.target

[Service]
ExecStart=%h/dotfiles/notifiers/xclip-notifier/xclip-notifier.sh

[Install]
WantedBy=xsession.target
